root = true
[*]
indent_style = space
indent_size = 2
max_line_length = 120

dotnet_diagnostic.sa1028.severity = error
dotnet_diagnostic.sa1116.severity = error
dotnet_sort_system_directives_first = false
csharp_style_var_for_built_in_types = false:error

# ReSharper inspection severities
resharper_suggest_var_or_type_simple_types_highlighting = error
resharper_space_within_single_line_array_initializer_braces = true
